@model List<Blog>

@{
	ViewData["Title"] = "BlogListByWriter";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<h1>Yazarin bloqlari</h1>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Bloq başlığı</th>
		<th>Yaranma tarixi</th>
		<th>Categoriya</th>
		<th>Vəziyyət</th>
		<th>Sil</th>
		<th>Redaktə et</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.BlogID</th>
			<td>@item.BlogTitle</td>
			<td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
			<td>@item.Category.CategoryName</td>
			@if (item.BlogStatus)
			{
				<td class="text text-success">Active</td>
			}
			else
			{
				<td class="text text-secondary">Passive</td>
			}
			<td>@Html.ActionLink("Sil", "DeleteBlog", new { id = item.BlogID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmək istədiyinizə əminsiniz?')" })</td>
			<td><a href="#" class="btn btn-warning">Redaktə et</a></td>
		</tr>
	}
</table>
<a href="/Blog/BlogAdd" class="btn btn-primary">Yeni Bloq yarat</a>

