@model Blog

@{
	ViewData["Title"] = "BlogAdd";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Yeni Bloq girişi</h1>
<br />
@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
	@Html.Label("Bloq başlığı")
	@Html.TextBoxFor(x=>x.BlogTitle, new {@class="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogTitle)
	<br />
	@Html.Label("Bloq şəkili")
	@Html.TextBoxFor(x=>x.BlogImage, new {@class="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogImage)
	<br />
	@Html.Label("Bloq kiçik şəkili")
	@Html.TextBoxFor(x=>x.BlogThumbnailImage, new {@class="form-control"})
	<br />
	@Html.Label("Bloq kateqoriyası")
	@Html.DropDownListFor(x=>x.CategoryID, (List<SelectListItem>)ViewBag.categoryValues, "Kateqoriya seçin", new {@class="form-control"})
	<br />
	@Html.Label("Bloq kontenti")
	@Html.TextAreaFor(x=>x.BlogContent, 15, 3, new {@class="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogContent)
	<br />
	<button class="btn btn-info">Yadda saxla</button>
}

