@model List<Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Gedənlər qutusu</h1>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Mövzu</th>
		<th>Alan</th>
		<th>Tarix</th>
		<th>Mesajı sil</th>
		<th>Mesajı aç</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.MessageID</th>
			<td>@item.Subject</td>
			<td>@item.ReceiverWriter.WriterName</td>
			<td>@CalculateBetweenAgoDatetime.GetDifferenceMessage(item.MessageDate)</td>
			<td>@Html.ActionLink("Sil", "DeleteMessage", new { id = item.MessageID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmək istədiyinizə əminsiniz?')" })</td>
			<td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-warning">Mesajı aç</a></td>
		</tr>
	}
</table>
<a href="/Message/SendMessage" class="btn btn-primary">Yeni Mesaj yarat</a>





